<li class="trait-item item" data-item-id="{{id}}">
    <div class="skill-item-row flexrow">
        <div class="identification">
            <div class=" flexrow editor-toggle">
                <img src="{{img}}" title="{{name}}" height="32" width="32"
                     alt="{{localize 'tor2e.traits.details.tech.alt'}}"/>
                <p>{{name}}</p>
            </div>
        </div>
        <div class="actions">
            <a class="item-edit action" title=""{{tor2e.sheet.skill.edit}}>
                <i class="fas fa-edit"></i>
            </a>
            <a class="item-delete action" title=""{{tor2e.sheet.deleteSkill}}>
                <i class="fas fa-trash"></i>
            </a>
        </div>
    </div>
    <div class="editor-container-toggelable">
        {{editor content=data.data.description.value target="data.description.value" button=true owner=isOwner editable=false}}
    </div>
</li>
