<div class="item-sheet sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}"
         alt="{{localize 'tor2e.items.miscellaneous.tech.alt'}}"/>
    <form class="{{cssClass}} flexrow" autocomplete="off">

        {{> "systems/tor2e/templates/sheets/items/components/item-header-card.hbs"
                item=this.item
                label="tor2e.items.miscellaneous.title"
                alt="tor2e.items.miscellaneous.tech.alt"}}

        <div class="sheet-content flexcol">
            <div class="item-row flexrow">
                <div class="item-element">
                    <label for="data.load.value-{{item.id}}">{{localize data.load.label}}</label>
                    <input id="data.load.value-{{item.id}}" class="number-value attribute-number-value"
                           name="data.load.value"
                           type="number"
                           value="{{data.load.value}}"
                           data-dtype="{{data.load.type}}" step="1" min="0" max="50" required>
                    <span class="validity"></span>
                </div>
            </div>
            <div class="description flexcol">
                <h2>{{localize data.description.label}}</h2>
                {{editor content=data.description.value target="data.description.value" button=true owner=isOwner
                         editable=true}}
            </div>
        </div>
    </form>
</div>