<div class="sheet-container">
    <img class="background" src="{{backgroundImages.url}}" title="{{localize backgroundImages.title}}"
         alt="{{localize 'tor2e.weapons.details.tech.alt'}}"/>
    <form class="{{cssClass}}" autocomplete="off">
        {{> "systems/tor2e/templates/sheets/actors/partials/common/actor-header-card.hbs"
                width = 125
                height = 125}}

        <img class="actor-banner" src="{{data.banner.img}}" data-edit="data.banner.img" title="{{data.banner.label}}"
             width="450" height="150"
             alt="{{ localize 'tor2e.actors.details.tech.alt' }}"/>

        <div class="sheet-content">
            <section id="attributes" class="flexrow">
                {{> "systems/tor2e/templates/sheets/actors/components/resource-diamond-card.hbs"
                        stat=data.fellowshipPoints
                        extension-stat=data.fellowshipPoints
                        extension-stat-value=data.fellowshipPoints.max
                        reference="data.fellowshipPoints.value"
                        extension-reference="data.fellowshipPoints.max"
                        extension-label="tor2e.actors.stats.max"}}

                {{#if isGM}}
                    {{> "systems/tor2e/templates/sheets/actors/components/resource-diamond-card.hbs"
                            stat=data.eyeAwareness
                            reference="data.eyeAwareness.value"
                            extension-reference="data.eyeAwareness.initial.value"
                            extension-stat=data.eyeAwareness.initial
                            extension-stat-value=data.eyeAwareness.initial.value
                            extension-label="tor2e.actors.stats.rating"}}
                {{/if}}

            </section>
            <section id="members">
                <h2>{{localize "tor2e.actors.sections.members"}}</h2>
                <div class="character-actor-drop">
                    {{#each memberLists as |members id|}}
                        <div class="flexrow actor-row">
                            {{#each members as |member id|}}
                                {{> "systems/tor2e/templates/sheets/actors/partials/common/member-card.hbs" member}}
                            {{/each}}
                        </div>
                    {{/each}}
                </div>
            </section>
            <section id="patrons">
                <h2>{{localize "tor2e.actors.sections.patrons"}}</h2>
                <ul class="connectionsList">
                    <div class="flexrow">
                        <p class="table-caption table-main-column">{{localize "tor2e.actors.sections.name"}}</p>
                        <p class="table-caption">{{localize "tor2e.actors.sections.location"}}</p>
                        <p class="table-caption"></p>
                    </div>
                    {{#each patrons as |patron id|}}
                        {{> "systems/tor2e/templates/sheets/actors/partials/common/patron-card.hbs" patron}}
                    {{/each}}
                </ul>
            </section>
            <section id="connections">
                <h2>{{localize "tor2e.actors.sections.connections"}}</h2>
                <ul class="connectionsList">
                    <div class="flexrow">
                        <p class="table-caption table-main-column">{{localize "tor2e.actors.sections.name"}}</p>
                        <p class="table-caption">{{localize "tor2e.actors.sections.location"}}</p>
                        <p class="table-caption"></p>
                    </div>
                    {{#each connections as |connection id|}}
                        {{> "systems/tor2e/templates/sheets/actors/partials/common/connection-card.hbs" connection}}
                    {{/each}}
                </ul>
            </section>
            <section id="travel">
                <h2>{{localize "tor2e.actors.sections.travel"}}</h2>
                {{> "systems/tor2e/templates/sheets/actors/partials/common/travel-card.hbs" travel}}
            </section>
            <section class="flexcol" id="notes">
                <h2 class="toggle">{{localize data.notes.label}}</h2>
                <div class="editor-container">
                    {{editor content=data.notes.value target="data.notes.value" button=true owner=isOwner
                             editable=true}}
                </div>
            </section>
            <section class="flexcol" id="description">
                <h2 class="toggle">{{localize data.description.label}}</h2>
                <div class="editor-container">
                    {{editor content=data.description.value target="data.description.value" button=true owner=isOwner
                             editable=tru}}
                </div>
            </section>
        </div>
    </form>
</div>